@import './variables.scss';
@import './general.scss';
@import './components/index.scss';

.container {
  position: relative;

  display: grid;
  grid-template-areas:
    'header    messages'
    'channels  messages';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 400px 1fr;
  width: 100%;
  min-width: 320px;
  max-width: 1540px;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;

  @media screen and (max-width: 991px) {
    grid-template-areas:
      'channels'
      'header';
    grid-template-rows: 1fr 70px;
    grid-template-columns: 1fr;

    padding: 0;
  }
}

.header {
  grid-area: header;
  background: $primary;
  border-bottom: 1px solid $light;
  border-radius: 20px 0 0 0;
  padding: 24px;
}

.messages {
  grid-area: messages;
  background: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $semi-dark;
  border-radius: 0 20px 20px 0;

  @media screen and (max-width: 991px) {
    display: none;
  }

  .messages-box {
    @include hide-scrollbar;
    margin: 24px 48px;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;

  .modal {
    margin: 150px auto 0;
    z-index: 10;
    width: 500px;
    height: 250px;
    background: $light;
    color: $semi-dark;
    display: none;
  }
}
.show {
  display: block !important;
}
